table, th, td {
    border: 1px solid black;
}

.leftside {
    float: left;
}

.rightside {
    float: right;
}

.bottom_margin {
    margin-bottom: 1.1em;
}

#options {
    height: 1.2em;
}

#filter_boxes {
    margin-right: 10px;
}

#mix_links {
    height: 60px;
}
