<!DOCTYPE html>
<html{% if language %} lang="{{ language }}"{% endif %}>
<head>
	{% block head %}
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
	<title>Alathair Alchemie{% if title %} - {{ title }}{% endif %}</title>
	{% block headscripts %}{% endblock %}
	{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block footer %}
	<hr/>
	<p>Benötigte Ressourcen: {{ timeSpent }} Sekunden | {{ memoryUsed }}</p>
{% endblock %}
{% block bodyscripts %}{% endblock %}
</body>
</html>
